<h3>&#64;defer when</h3>

<div>
  <input #checkboxDefer type="checkbox" [checked]="isCheckedDefer()" (change)="isCheckedDefer.set(checkboxDefer.checked)" id="checkboxDefer"/>
  <label for="checkboxDefer">This checkbox load the <strong>app-about</strong> component</label>
</div>
<br>
@defer (when isCheckedDefer()) {
  <app-about/>
}
@placeholder {
  <span>Placeholder</span>
}
@error {
  <span>Error</span>
}
@loading(minimum 1s) {
  <span>Loading...</span>
}

<h3>&#64;defer on interaction</h3>

@defer (on interaction) {
  <span>Clicked</span>
}
@placeholder {
  <span>Placeholder (click on it!)</span>
}

<h3>&#64;defer on hover</h3>

@defer (on hover) {
  <span>Hovered</span>
}
@placeholder {
  <span>Placeholder (hover it!)</span>
}

<h3>&#64;defer on idle</h3>

@defer (on idle) {
  <span>Browser has reached an idle state</span>
}
@placeholder {
  <span>Placeholder</span>
}

<h3>&#64;defer on timer(3s)</h3>

@defer (on timer(3s)) {
  <span>Visible after 3s</span>
}
@placeholder {
  <span>Placeholder</span>
}

<h3>Prefetch</h3>

@defer (on interaction; prefetch on hover) {
  <app-newsletter/>
}
@placeholder {
  <span>Placeholder (hover it, then click on it!)</span>
}

<h3>&#64;defer on viewport</h3>

@defer (on viewport) {
  <app-contact text="The block entered the viewport"/>
}
@placeholder {
  <span>Placeholder</span>
}

<h1>@if @else</h1>

@if (userLogged) {
  Hi {{ userLogged.name }}
} @else {
  You need to log in first
}

<h1>@for</h1>

@for( user of users; track user.id){
  <option value="{{user.id}}">{{user.name}}</option>
}

<h1>@switch</h1>

@switch (user.role) {
  @case (admin) {
      <span>You have admin role</span>
    }
  @case (user) {
      <span>You have user role</span>
    }
  @case (super) {
      <span>You have super role</span>
    }
  @default {
  <span>You don't have a role yet</span>
  }
}